*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row wrap;
    height: 600px;
    width: 800px;
}

.box1{
    flex: 1 1 800px;
    height: 200px;
    background: black;
    align-self: flex-start;
}
.box2{
    height: 400px;
    width: 300px;
    background: red;
}

.superbox{
    display: flex;
    flex-direction: column;
}

.box3{
    height: 200px;
    width: 500px;
    background: gray;
}

.boxwrapper{
    display: flex;
    flex-direction: row;
}

.box4{
    height: 200px;
    width: 250px;
    background: blueviolet
}
.box5{
    height: 200px;
    width: 250px;
    background: yellowgreen;
}

